<nav>
    <div class="site-title">
        <a href="/"><h1>Mini Message Board</h1></a>
        <p>A Place to Share Thoughts</p>
    </div>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/new">New Message</a></li>
    </ul>
</nav>